#graph-box {
    background-color: #0d1c36;
    margin: 20px;
    padding: 40px;
    width: 1120px;
    border-radius: 25px;
    box-shadow: 5px 10px 8px #888888;
}

#employee-workout-graph {
    background-color: whitesmoke;
    position: relative;
    width: auto;
    height: 650px;
    margin-bottom: 23px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    border: 3px solid white;
}

#graph-counter {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 129px;
}

#graph-counter div {
    margin-bottom: 100px;
    color: #00de9f;
    top: 100px;
    height: 2px;

}

#line-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

.graph-line {
    width: 1055px;
    height: 2px;
    border-bottom: dashed darkblue 1px;
    top: 100px;
    margin-bottom: 100px;
}


#employee-workout-dates {
    flex-direction: row;
    display: flex;
    text-align: right;
}

.date {
    font-family: Clashgrotesk,Verdana,sans-serif;
    font-size: 18px;
    text-align: right;
    margin: 7px 3px 5px -5px;
    line-height: 2px;
    width: 70px;
    height: 2px;
    transform: rotateZ(-45deg);
    transform-origin: top;
}

#date-wrapper {
    width: 34px;

}
