#table-wrapper {
    margin: 10px;
    border: 3px solid #4c58ed;
    padding: 20px;
    background-color: #0d1c36;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
}

#table-wrapper img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
    border: solid 1px #4c58ed;
}

table, tr, td {
    border: 1px solid white;
    border-collapse: collapse;
    width: 30%;
    background-color: #0d1c36;
    margin: 10px;
    height: 100%;
}

#date-table td {
    text-align: center;
}

th {
    text-align: center;
}

#name-search {
    height: 30px;
    width: 90%;
    margin: 10px;
}

.input-challenge {
    width: 70%;
    height:30px;
    margin: 5px;
}

.employee-a {
    text-decoration: none;
    color:white;
    text-align: left;
    line-height: 3.6;
}

.employee-a:hover {
    text-decoration: underline;
    color:white;
    border: #4c58ed;
}

a {
    text-decoration: none;
    color:white;
    border: #4c58ed;
}


.admin-prize-box {
    background-color: #0d1c36;
    padding: 10px;
    margin: 10px;
    height: 500px;
    width: 30%;
    border-radius: 25px;
    box-shadow: 5px 10px 8px #888888;
}
#admin-prize-box {
    width: 30%;
    flex-grow: 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.admin-prize-card {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.title-description-challenge-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 50%
}

.title-wrapper {
    font-weight: bold;
}

.description-wrapper {
    height: 60px;
}
